.musicNameBtn:hover {
  cursor: pointer;
  color: blue;
}

#progressBar {
  width: 500px;
  height: 5px;
  background-color: rgba(128, 128, 128, 0.279);
  border-radius: 5px;
}

#currentProgress {
  width: 0px;
  height: 100%;
  background-color: red;
}
