body {
  background-color: black;
  color: white;
}

.list-div-item {
  cursor: pointer;
  user-select: none;
}

.done {
  text-decoration: line-through;
}

.fa-solid {
  cursor: pointer;
  font-size: 20px;
}

.fa-solid:hover {
  cursor: pointer;
  color: red;
}
